.ml3per{
    margin-left: 3%;
}
.ml2per{
    margin-left: 2%;
}
.w5per{
    width: 5%;
}
.w40per{
    width: 40%;
}
.h30per{
    height: 30%;
}
.h100per{
    height: 100%;
}
.float-right{
    float: right;
}
.display-inline-block{
    display: inline-block;
}