.mt1per{
    margin-top: 1%;
}
.ml5per{
    margin-left: 5%;
}
.ml8per{
    margin-left: 8%;
}
.ml3per{
    margin-left: 3%;
}
.ml2per{
    margin-left: 2%;
}
.w5per{
    width: 5%;
}
.w10per{
    width: 10%;
}
.w15per{
    width: 15%;
}
.w20per{
    width: 20%;
}
.w30per{
    width: 30%;
}
.w40per{
    width: 40%;
}
.w50per{
    width: 50%;
}
.w60per{
    width: 60%;
}
.w70per{
    width: 70%;
}
.w90per{
    width: 90%;
}
.h30per{
    height: 30%;
}
.h80per{
    height: 80%;
}
.h100per{
    height: 100%;
}
.h50per{
    height: 50%;
}
.float-right{
    float: right;
}
.display-inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.flex-flow-reverse{
    flex-flow: row-reverse wrap;
}
.pt1vh{
    padding-top: 1vh;
}
.pt2vh{
    padding-top: 2vh;
}
.pl2vh{
    padding-left: 2vh;
}
.p7per{
    padding: 7%;;
}
.simple-datatable{
    width: 100%;
    height: auto;
    text-align: left;   
    border-collapse: collapse;
    
}
.simple-datatable th{
    color: #0084ff;
    padding: 12px 8px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
}
.simple-datatable tr{
    border-bottom: 1px solid #ebebeb;
}
.simple-datatable td{
    padding: 12px 8px;
    font-size: 0.8125rem;    
    font-weight: 300;
    line-height: 1.42857143;
    vertical-align: middle;
}
.hide{
    display: none;
}
.hideimp{
    display: none!important;
}