.dashborard-root{
    height: 91vh;
    width: 100vw;
}
.dashborard-parent{
    width: 96%;
    height: 82vh;
    display: flex;
    margin-left: 2%;
    margin-top:1%;
    flex-wrap: wrap;
    overflow: scroll;
}
.dashboard-item{
    height: 39vh;
    width: 29vw;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0px #e0dede;
    margin-bottom: 0%;
}
.dashboard-item-title{
    margin-top: 2vh;    
    font-size: 16px;
    text-align: center;
}