.chatparent{
    width: 40vw;
    
    box-shadow: 2px 2px 8px 2px #ededed;
    border-radius: 2vh;
    
}
.chatrow{
    height: 69vh;
    overflow: auto;
    
}
.chat_detail{
    width: 57vw;
    padding-left: 1%;;
    height: 77vh;    
    
}
.chatrow_item{
    border-bottom: 1px solid #f8f3f3;
    height: 5.7vh;
    width: 100%;
    padding-top: 2vh;
    font-size: 22px;
}
.chat_title{
    font-size: 20px;
    margin-left: 2vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 75%;
    display: inline-block;
}
.chat_description{
    font-size: 14px;
    margin-top: 0.5vh;
    margin-left: 2vw;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30%;
    white-space:nowrap;
}
.chat_right_icon{
    vertical-align: middle;
    margin-right: 2vw;
    float: right;
}
.chatdatarow_parent{
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    margin-top: 1%;
    margin-left: 2%;
}
.chatdetailbottom{
    height: 10%;    
    flex-flow: row-reverse wrap;
    background-color:#ffffff;
    border-radius: 10vh;
    box-shadow: 2px 2px 2px 1px #ededed;
}
.chatdetailbottom input,.chatdetailbottom input:focus{
    border-radius: 10vh;
    border: 1px solid #ededed;
}

.addnew_chatdet_row{
    height: 54%;
}

.amount-field{
    float: right;
 margin-right: 1vw;
}
.chat-attach{
    margin-left: 2vw;
    vertical-align: middle;
    font-size: 24px;
}
.expense-item{    
    
    width: 50%;
    margin-top: 8vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    background-color: #eee;
    padding: 12px;
    font-size: 14px;
}
.my-expense-item{
    margin-left: auto;    
    background: #0084ff;
    color: #fff;

}
.expense-item-user{
    font-weight: 600;
    padding-bottom: 5px;
}
.expense-item-amount{
    font-size: 26px;
    font-weight: bold;
    padding-left: 5px;
}

.expense-item-content{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 15px;
}
.expense-item-time{
    padding-left: 5px;
    padding-top: 2px;
    font-size: 11px;
    float: right;
}
.expense-item-image img{
    width: 100%;
    height: 50%;
}
.expense-chat-header{
    height: 8vh;
    box-shadow: 1px 1px 1px 1px #8080808a;
}
.expense-chatdetail-header{
    position: fixed;
    height: 7vh;
    width: 57vw;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 2px 2px 3px 2px #f2f0f0;
}
.expense-chatdetail-header-img{    
    font-size: 32px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1vw;
}
.expense-chatdetail-header-container{    
    font-size: 22px;
    display: inline-block;
    margin-left: 1vw;
}
.expense-chatdetail-header-title{
    padding-top: 1vh;
}
.expense-chatdetail-header-subtitle{
    font-size: 12px;margin-top: 3px;    
}
.header-left{
    display: flex;
}
.header-menu{
    margin-left: 1vw;
    margin-top: 2vh;
    font-size: 28px;
}
.header-title{
    margin-left: 3vw;
    font-size: 3vw;
    margin-top: 2.4vh;
    line-height: 2vh;
    width: 100%;
    white-space: nowrap;
}
.header-dashboard{
    cursor: pointer;
    margin-left: 70vw;
    font-size: 38px;
    margin-top: 1.6vh;
    margin-right: 1vw;
}
.header-home{    
    cursor: pointer;
    font-size: 38px;
    margin-top: 1.6vh;
}
.addnewexpensetype{
    position: sticky;
    height: 6vh;
    width: 11vh;
    background-color: #ffffff;
    border-radius: 7vh;
    box-shadow: 2px 2px 3px 2px #f2f0f0;
    top: 75vh;
    left: 32vw;
    background: #0084ff;
    color: white;
    font-size: 1rem;
}
.addnewexpensetype div{
    padding-top: 19%;
    padding-left: 24%;
}
.addnewexpensetype-icon{
    margin-left: 10%;
    vertical-align: top;
}
.add-category{
    height: 5vh;
    width: 40vw;
    padding-top: 2vh;
    padding-left: 5%;
    padding-bottom: 2vh;
}
.add-category input{
    height: 71%;
    width: 56%;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
   .chatparent{
    width: 94vw;
   }
   .header-dashboard{
        margin-left: 40vw;
   }
   .add-category{
    width: 94vw;
    padding-left:unset;
   }
   .add-category input{
       width:48%;
   }
   .chat_detail,.expense-chatdetail-header{
       width: 92vw;
   }   
   .addnew_chatdet_row{
        width: 17%;
   }
  }
  